[Unit]
Description=prepare-database
Requires=mysqld.service
After=mysqld.service
Before=prepare-zabbix.service

[Service]
ExecStart=/usr/local/bin/prepare-database.sh
RemainAfterExit=yes
Type=oneshot

[Install]
WantedBy=multi-user.target
